:root {
  --theme-accent-red: #e94747;
  --theme-accent-green: #277244;
  --theme-yellow-100: #eaefd3;
  --theme-yellow-200: #dcc48e;
  --theme-yellow-300: #bba36a;

  --shadow-100: -2px 2px;
  --shadow-200: -4px 4px;
}

@font-face {
  font-family: "KidosMarker";
  src: url("../asset/kidos-marker/kidos_marker.otf");
  src: url("../asset/kidos-marker/kidos_marker.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sono";
  src: url("../asset/sono/Sono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Sono, sans-serif;
  color: var(--theme-yellow-100);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  line-height: 1.4;
  font-family: KidosMarker, sans-serif;
  letter-spacing: 1px;
}

p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
  margin: 0;
  color: var(--theme-accent-red);
  text-shadow: var(--shadow-200) var(--theme-yellow-200);
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2,
h3 {
  font-size: 1.8rem;
  color: var(--theme-yellow-200);
  margin-bottom: 2rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
}
