:root {
  --theme-purple-300: #6e5399;
  --theme-purple-200: #866eb3;
  --theme-purple-100: #b19cd8;
  --theme-yellow-100: #f8f3a6;
  --theme-yellow-200: #f4e064;
  --theme-yellow-300: #b39b18;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.15;
  color: #6e5399;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
