.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-accent-red);
}

.main {
  padding: 4rem 1.8rem;
  flex: 1;
  flex-direction: column;
}

.footer {
  padding: 1rem 0;
  font-size: 0.7rem;
  background: var(--theme-accent-red);
}

.section {
  margin: 1rem 0;
}

.image {
  width: 160px;
  height: 160px;
}

@media (min-width: 768px) {
  .section {
    width: 60%;
  }

  .image {
    width: 200px;
    height: 200px;
  }
}
