.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  padding: 4rem 2rem;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--theme-accent-red);
}

.footer {
  height: 10%;
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  background: var(--theme-accent-red);
}

.section {
  margin: 1rem 0;
}

.image {
  border-radius: 50%;
  object-fit: cover;
  width: 140px;
  height: 140px;
  border: 3px solid var(--theme-accent-green);
  margin-right: 8px;
}

@media (min-width: 768px) {
  .section {
    width: 60%;
  }

  .image {
    width: 200px;
    height: 200px;
  }
}
